@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Roboto", sans-serif;
    /* background-color: #161616; */
}

body::-webkit-scrollbar {
    display: none;
}

.featured__cards {
    position: relative;
    text-align: center;
    /* background-color: var(--container-color); */
    padding-top: 2rem;
    border: 1px solid hsl(0, 0%, 94%);
    overflow-y: hidden;
    transition: .3s;
  }
  
  .featured__card {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    border: 1px solid hsl(0, 0%, 94%);
    overflow-y: hidden;
    transition: .3s;
  }
  
  
  .featured__tag {
    background-color: hsl(31, 100%, 70%);
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: .813rem;
    font-weight: 500;
    position: absolute;
    transform: rotate(-90deg);
    left: -1rem;
    top: 3rem;
  }
  
  .featured__img {
    height: 250px;
    margin-bottom: 1rem;
  }
  
  /* .featured__img {
    height: 214px;
    margin-bottom: 1rem;
  } */
  
  
  .featured__price {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .featured__title {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .featured__price {
    display: block;
    color: hsl(31, 100%, 70%);
    transition: .3s;
  }
  
  .featured__button {
    font-size: .813rem;
    transform: translateY(1rem);
    opacity: 0;
  }
  
  .featured__card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 2rem 0;
  }
  
  .featured__card:hover .featured__button {
    transform: translateY(0);
    opacity: 1;
  }
  
  .featured__card:hover .featured__price {
    margin-bottom: 1.5rem;
  }
  
  
  
  .featured__cards:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 1rem 0;
  }
  
  .featured__cards:hover .featured__button {
    transform: translateY(0);
    opacity: 1;
  }
  
  .featured__cards:hover .featured__price {
    margin-bottom: 1.5rem;
  }
  
  